<tr>
  <td class='position'>organizer</td>
  <td class='avatar'><img src='http://www.gravatar.com/avatar/139b66112d2e2b4efafac2aefed01c2f.png?size=48'</td>
  <td class='name'>Yann Klis</td>
  <td>ruby, rails, nodejs</td>
</tr>
<tr>
  <td class='position'>organizer</td>
  <td class='avatar'><img src='http://www.gravatar.com/avatar/1c72bce95176cfcb37de816f5be59dd5.png?size=48'</td>
  <td class='name'>Yannick Jost</td>
  <td>robot, embedded, python</td>
</tr>
<tr>
  <td class='position'>1.</td>
  <td class='avatar'><img src='http://www.gravatar.com/avatar/3985657be6ca8445e44fe99633009cfc.png?size=48'</td>
  <td class='name'>Nicolas CHATELAIN</td>
  <td>électronique, radioamateur, bricoleur</td>
</tr>
<tr>
  <td class='position'>2.</td>
  <td class='avatar'><img src='http://www.gravatar.com/avatar/c8e04eccc823a4e3ef9397355c8411c4.png?size=48'</td>
  <td class='name'>Théo Rémy</td>
  <td>développeur,  web,  mobile</td>
</tr>
<tr>
  <td class='position'>3.</td>
  <td class='avatar'><img src='http://www.gravatar.com/avatar/f329a38ccd12f1a16cc6fc9b64ae5ccb.png?size=48'</td>
  <td class='name'>Max Heckel</td>
  <td>Voil,  à,  l'ENSIIE</td>
</tr>
<tr>
  <td class='position'>4.</td>
  <td class='avatar'><img src='http://www.gravatar.com/avatar/1208c89f7e0f8c95c61703c6f83094f1.png?size=48'</td>
  <td class='name'>Vincent Kaestle</td>
  <td>voil, à, l'ensiie</td>
</tr>
<tr>
  <td class='position'>5.</td>
  <td class='avatar'><img src='http://www.gravatar.com/avatar/f4f90537902db5590a4b5e9071eb6ce0.png?size=48'</td>
  <td class='name'>Marc Schlatter</td>
  <td>Linux,  SysAdmin,  Scripting</td>
</tr>
<tr>
  <td class='position'>6.</td>
  <td class='avatar'><img src='http://www.gravatar.com/avatar/3df57ec3ef2c5e5f319c3cfe6e4a812a.png?size=48'</td>
  <td class='name'>Maxime Barbier</td>
  <td><geek class="Human" id="Maxime"/> ,  There are 10 types of people in the word: those who understand binary and those whon dont't. ,  There's no place like 127.0.0.1</td>
</tr>
<tr>
  <td class='position'>7.</td>
  <td class='avatar'><img src='http://www.gravatar.com/avatar/a6397502333089c84d56d2d9f2aaa632.png?size=48'</td>
  <td class='name'>Samuel MARPAUX</td>
  <td>Creeper ravageur,  Qt loveur,  Java c'est l'horreur</td>
</tr>
<tr>
  <td class='position'>8.</td>
  <td class='avatar'><img src='http://www.gravatar.com/avatar/d2781d29cecddfee7a6f2fbdd4662882.png?size=48'</td>
  <td class='name'>Léo Unbekandt</td>
  <td>hacking lover,  curious,  technology juggler</td>
</tr>
<tr>
  <td class='position'>9.</td>
  <td class='avatar'><img src='http://www.gravatar.com/avatar/fc0a74534dd343492ea193c44e911a4b.png?size=48'</td>
  <td class='name'>Gilles Humez</td>
  <td>UX, Design, Development</td>
</tr>
<tr>
  <td class='position'>10.</td>
  <td class='avatar'><img src='http://www.gravatar.com/avatar/ee28d310bc28e785ac41d9b5b673c7e0.png?size=48'</td>
  <td class='name'>Paul Chobert</td>
  <td>#dev #sysadmin #machinelearning</td>
</tr>
<tr>
  <td class='position'>11.</td>
  <td class='avatar'><img src='http://www.gravatar.com/avatar/e403151d6ffca0b3b939d9929b96994e.png?size=48'</td>
  <td class='name'>maxime spenlehauer</td>
  <td>Dév,  Web,  Admin sys</td>
</tr>
<tr>
  <td class='position'>12.</td>
  <td class='avatar'><img src='http://www.gravatar.com/avatar/2d25cc8e8d043b116ba9b4cf18eae994.png?size=48'</td>
  <td class='name'>Aline Gerard</td>
  <td>dev, web, linuxienne</td>
</tr>
<tr>
  <td class='position'>13.</td>
  <td class='avatar'><img src='http://www.gravatar.com/avatar/5152a1ffac891a17eff8bebd7736612d.png?size=48'</td>
  <td class='name'>Erkan Valentin</td>
  <td>web, android, java</td>
</tr>
<tr>
  <td class='position'>14.</td>
  <td class='avatar'><img src='http://www.gravatar.com/avatar/69b90d53525e035de37ac58976841986.png?size=48'</td>
  <td class='name'>Michael Muré</td>
  <td>Jack of all trade</td>
</tr>
